.header {
  width: 1200px;
  height: 10vh;
  outline: 1px solid gray;
  border-radius: 10px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-total {
  font-size: 2rem;
}

.cart-icon {
  width: 50px;
  height: 50px;
  background-image: url('../img/basket-icon.jpg');
  background-size: contain;
  outline: 1px solid darkred;
  border-radius: 100px;
  margin-right: 20px;
}

.header {
  h1 {
    margin-left: 20px;
  }
}

.header h1, .cart-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .header {
    h1 {
      margin-left: 10px;
      font-size: 1rem;
    }
  }

  .cart-total {
    font-size: 1rem;
  }

  .cart-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  .cart-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
